In [1]:
import spacy
from spacy.matcher import Matcher
from spacy.matcher import PhraseMatcher
import pandas as pd
import numpy as np

# input

In [2]:
keywords = ['smart','phd','pig']
name = ['penghang','penghang','qmin','qmin','zhuzhu']
paragraphs = ['penghang is smart smaRT PHD','penghang is phd','qmin is SMARt','qmin is a pig','zhuzhu is a smart PIG']
d = {'name':name,'paragraphs':paragraphs}
df = pd.DataFrame(data=d)
df

       name                   paragraphs
0  penghang  penghang is smart smaRT PHD
1  penghang              penghang is phd
2      qmin                qmin is SMARt
3      qmin                qmin is a pig
4    zhuzhu        zhuzhu is a smart PIG

In [91]:
result = pd.DataFrame(0, index=range(df.shape[0]), columns=keywords)
result['name'] = df.name
result

   smart  phd  pig      name
0      0    0    0  penghang
1      0    0    0  penghang
2      0    0    0      qmin
3      0    0    0      qmin
4      0    0    0    zhuzhu

# Spacy

In [92]:
nlp = spacy.load("en_core_web_sm")
matcher = Matcher(nlp.vocab)
for word in keywords:
    pattern = [{"LOWER": word}]
    matcher.add(word, None, pattern)

In [106]:
for i in range(df.shape[0]):
    doc = nlp(df.paragraphs[i])
    matches = matcher(doc)
    for match_id, start, end in matches:
        rule_id = nlp.vocab.strings[match_id]
        result[rule_id][i] += 1
#         span = doc[start : end]
#         print(rule_id, span.text)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [107]:
result

   smart  phd  pig      name
0      2    1    0  penghang
1      0    1    0  penghang
2      1    0    0      qmin
3      0    0    1      qmin
4      1    0    1    zhuzhu

In [108]:
result.groupby(['name']).sum()

          smart  phd  pig
name
penghang      2    2    0
qmin          1    0    1
zhuzhu        1    0    1

# non spacy (ni yan jiu yi xia hu lue da xiao xie)

In [3]:
result = pd.DataFrame(0, index=range(df.shape[0]), columns=keywords)
result['name'] = df.name

In [4]:
for i in range(df.shape[0]):
    for word in keywords:
        result[word][i] = df.paragraphs[i].lower().count(word.lower())
result

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

   smart  phd  pig      name
0      2    1    0  penghang
1      0    1    0  penghang
2      1    0    0      qmin
3      0    0    1      qmin
4      1    0    1    zhuzhu

In [5]:
result.groupby(['name']).sum()

          smart  phd  pig
name
penghang      2    2    0
qmin          1    0    1
zhuzhu        1    0    1

# Groupby

In [125]:
name = ['penghang','penghang','penghang','penghang','penghang']
month = [1,1,1,2,2]
activity = ['call','call','email','email','call']
blankreport = [2,13,2,31,5]
d = {'name':name,'month':month,'activity':activity,'blankreport':blankreport}
df = pd.DataFrame(data=d)
df

  activity  blankreport  month      name
0     call            2      1  penghang
1     call           13      1  penghang
2    email            2      1  penghang
3    email           31      2  penghang
4     call            5      2  penghang

In [126]:
df1 = df.groupby(['name','month','activity']).agg({'activity':'count','blankreport':'sum'}).rename(columns={'activity':'act','blankreport':'report'}).reset_index()
df1

       name  month activity  act  report
0  penghang      1     call    2      15
1  penghang      1    email    1       2
2  penghang      2     call    1       5
3  penghang      2    email    1      31

In [138]:
df2 = df1.pivot_table(values=['act','report'], index='name', columns=['month','activity'])
df2

          act                  report
month       1          2            1          2
activity call email call email   call email call email
name
penghang    2     1    1     1     15     2    5    31

# Custom columns by yourself

In [147]:
df2.columns

MultiIndex(levels=[['act', 'report'], [1, 2], ['call', 'email']],
           labels=[[0, 0, 0, 0, 1, 1, 1, 1], [0, 0, 1, 1, 0, 0, 1, 1], [0, 1, 0, 1, 0, 1, 0, 1]],
           names=[None, 'month', 'activity'])

In [154]:
columns = pd.MultiIndex(levels=[[1, 2], ['call', 'email']],
           labels=[[0, 0, 1, 1, 0, 0, 1, 1], [0, 1, 0, 1, 0, 1, 0, 1]],
           names=['month', 'activity'])

In [155]:
df2.columns = columns
df2